<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/trees.jpg"
             class="img-responsive center-block"
             style="max-height:650px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Izaya</h3>
      </div>

      <div class="text-center">@Izaya1994</div>
      <div class="text-center">
        <a href="https://www.google.com">Search</a>
      </div>
    </div>
  </div>
</div>
